{% extends "fuel/header.html" %}

{% block content %}

<div class= "jumbotron">
    <div class= "container-fluid">
        <h1>WA Fuel Scrapper</h1>
    </div> 
</div>

<div class= "container-fluid">
    <form action= "{% url 'table' %}" method="GET">
    <div class="row">
        <div class= "col-md-2"> <h4>Suburb:</h4></div>
        <div class="form-group col-md-4">
            <!--<input type ="text" class="form-control" placeholder="Enter Postcode or Suburb here" />-->
            <select class="form-control" name="Suburb" width= "500px" required>
                {% if suburb %}
                    <option selected="selected" value>Any Suburb</option>
                    {% for v in suburb %}
                        <option value= "{{ v }}"> {{ v }} </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class= "col-md-offset-1 col-md-2"> <h4>Show Prices For:</h4></div>
        <div class= "col-md-2 dropdown">
            <select class="form-control" name="Day">
                    <option value="today" selected>Today</option>
                    <option value="tomorrow">Tomorrow</option>
                    <option value="yesterday">Yesterday</option>                
            </select>
        </div>
    </div>
    
    <div class="row">
        <div class= "col-md-12"> <h2>Available Products:</h2></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class= "text-center">Petrol</h4>
                </div>
                <div class="list-group">
                    <button type="submit" name= "Product" value="1" class="list-group-item list-group-item-action">ULP</button>
                    <button type="submit" name= "Product" value="2" class="list-group-item list-group-item-action">PULP</button>
                    <button type="submit" name= "Product" value="6" class="list-group-item list-group-item-action">98 RON</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class= "text-center">Diesel</h4>
                </div>
                <div class="list-group">
                    <button type="submit" name= "Product" value="4" class="list-group-item list-group-item-action">Diesel</button>
                    <button type="submit" name= "Product" value="11" class="list-group-item list-group-item-action">Brand Diesel</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class= "text-center">Others</h4>
                </div>
                <div class="list-group">
                    <button type="submit" name= "Product" value="10" class="list-group-item list-group-item-action">E85</button>
                    <button type="submit" name= "Product" value="5" class="list-group-item list-group-item-action">LPG</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<hr>
<footer>
    <div class= "container-fluid">
        <p>Fuel Scrapper&copy; Hendra Wahyu {% now 'Y' %}</p>
    </div>
</footer>
{% endblock %}