body {
    padding: 50px 0 30px;
}

table { 
    color: #333;
    font-family: Helvetica, Arial;
    width: auto;
    /* Table reset stuff */
    border-collapse: collapse; 
    border-spacing: 0; 
}
	
td, th {  
    border: 0 none; 
    height: 30px; 
}
			
th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
}
		
td { background: #FAFAFA; 
     text-align: center; 
}

/* Zebra Stripe Rows */
		
tr:nth-child(even) td { background: #EEE; } 
tr:nth-child(odd) td { background: #FDFDFD; }
tr:hover{background: red; }

#map{
    height: 100%;
}